* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
body {
    background-color: #fffef8;
}
header {
    height: 50px;
    background-color: #4a6a7b;
    border-bottom: 1px solid #10314a;
}
header p {
    display: inline;
    vertical-align: middle;
    color: #fffef8;
}
header form {
    padding-top: 15px;
    padding-right: 7px;
    float: right;
}
.register_container {
    display: inline-block;
    text-align: right;
}
.img_filter {
    background-color: rgba(123,131,164, 0.6);
    height: 455px;
    width:680px;
    display: inline-block;
}
.img_div {
  background-image:url('donate.JPG');
  background-repeat:no-repeat;
  background-size:100%; 
  width: 680px;
  height: 500px;
  margin-left: 30px;
  display: inline-block;  
}
.top_donors_container {
    padding-left: 30px;
    margin-left: 15px;
    z-index: 2;
    background: #fffef8;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
.register_container, .top_donors_container {
    margin-top: 60px;
    vertical-align: top;
}
.register_container {
    float:right;
}
p input[type='radio'] {
    display: inline-block;
}
