* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
body {
    background-color: #fffef8;
}
header {
    height: 50px;
    background-color: #4a6a7b;
    border-bottom: 1px solid #10314a;
}
header p {
    display: inline;
    vertical-align: middle;
    color: #fffef8;
}
header form {
    padding-top: 15px;
    padding-right: 7px;
    float: right;
}
.register_container {
    display: inline-block;
    text-align: right;
}
.img_filter {
    background: #ac5239;
    opacity: .7;
    height: 335px;
    width:500px;
    display: inline-block;
}
.img_div {
  background-image:url('donate.JPG');
  background-repeat:no-repeat;
  background-size:100%; 
  width: 500px;
  height: 400px;
  display: inline-block;  
}
.top_donors_container {
    background: #fffef8;
    width: 500px;
    display: inline-block;
    vertical-align: top;
}
.register_container, .top_donors_container {
    margin-top: 60px;
    vertical-align: top;
}
.register_container {
    float:right;
    margin-right: 40px;
}
p input[type='radio'] {
    display: inline-block;
}
input[value='Register'] {
    text-align: right;
    display: block;
    margin-left: 220px;
    margin-top: 20px;
}
