* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
body {
    background-color: #fffef8;
}
header {
    height: 50px;
    background-color: #4a6a7b;
    border-bottom: 1px solid #10314a;
}
