<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food++ | Thank You!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'donate/main.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'donate:index' %}">Home</a>
    </header>
    <h1>Thank You!</h1>
    <h3>Your donation to {{ item.foodbank.name }} is almost complete.</h3>
    <p>Please get in contact with your foodbank before you deliver!</p>
    <a href="mailto:{{ item.foodbank.email }}"><button>Send them an email</button></a>
    <iframe src="//www.google.com/maps/embed/v1/place?q={{ item.foodbank.name }},
        &zoom=17
        &key=AIzaSyAW3Wox5scACNQuysCaIK8xbH3oWLTKcn8">
    </iframe>
</body>
</html>
