<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food++ | {{ request.session.user.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'donate/main.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'donate:logout' %}">Logout</a>
    </header>
    <h1>food++ | {{ request.session.user.name }}</h1>
    <h3>{{ request.session.user.name }}'s Items</h3>
    <table>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for item in foodbank_items %}
            {% if item.active %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    {% if not item.donor %}
                    <td>Requested</td>
                    {% elif item.donor %}
                    <td>Out for delivery from <a href="{% url 'donate:show_user' item.donor.id %}">{{ item.donor.name }}</a></td>
                    {% endif %}
                    {% if item.owner.id == request.session.user.user_id %}
                        <td>
                            <a href="{% url 'donate:received' item.id %}">Item Delivered</a> 
                            <a href="{% url 'donate:cancel' item.id %}">Cancel Delivery</a>
                            <a href="{% url 'donate:destroy_item' item.id %}">Delete</a>
                        </td>
                    {% elif item.donor %}
                        <td>
                            <a href="{% url 'donate:received' item.id %}">Item Delivered</a> 
                            <a href="{% url 'donate:cancel' item.id %}">Cancel Delivery</a>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <h3>Available Items</h3>
    <ul>
        {% for item in available_items %}
        <li><a href="{% url 'donate:show_user' item.donor.id %}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    <h3>Past Donations to {{ request.session.user.name }}</h3>
    <ul>
        {% for item in foodbank_items %}
            {% if not item.active %}
                <li>{{ item.name }} from <a href="{% url 'donate:show_user' item.donor.id %}">{{ item.donor.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Request an item</h3>
    <form action="{% url 'donate:add_item' %}" method="POST">
        {% csrf_token %}
        <p>Name: <input type="text" name="name"></p>
        <p>Description: <input type="text" name="description"></p>
        <input type="submit" value="Request">
    </form>
    {% if messages %}
        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
    {% endif %}
</body>
</html>
