<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food++ | {{ request.session.user.name }}</title>
</head>
<body>
    <h1>food++ | {{ request.session.user.name }}</h1>
    <a href="{% url 'donate:logout' %}">Logout</a>
    <h3>My Items</h3>
    <table>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for item in donor_items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            {% if item.active and item.donor %}
            <td>Available</td>
            {% elif item.active and item.foodbank %}
            <td>To Be Delivered</td>
            {% endif %}
            <td><a href="#">Remove?</a></td>
        </tr>
        {% endfor %}
    </table>
    <h3>Foodbanks Near You</h3>
    <ul>
        <li></li>
    </ul>
    <a href="#">View All</a>
    <h3>Offer an item</h3>
    <form action="{% url 'donate:add_item' %}" method="POST">
        {% csrf_token %}
        <p>Name: <input type="text" name="name"></p>
        <p>Description: <input type="text" name="description"></p>
        <input type="submit" value="Offer">
    </form>
</body>
</html>
