<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food++ | {{ request.session.user.name }}</title>
</head>
<body>
    <h1>food++ | {{ request.session.user.name }}</h1>
    <a href="{% url 'donate:logout' %}">Logout</a>
    <h3>{{ request.session.user.name }}'s Items</h3>
    <table>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for item in foodbank_items %}
            {% if item.active %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    {% if not item.donor %}
                    <td>Requested</td>
                    {% elif item.donor %}
                    <td>Out For Delivery <a href="{% url 'donate:received' item.id %}">Item Delivered</a> <a href="{% url 'donate:cancel' item.id %}">Cancel Delivery</a></td>
                    {% endif %}
                    <td><a href="{% url 'donate:destroy_item' item.id %}">Delete</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <h3>Available Items</h3>
    <ul>
        {% for item in available_items %}
        <li><a href="{% url 'donate:show_user' item.donor.id %}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    <h3>Past Donations to {{ request.session.user.name }}</h3>
    <ul>
        {% for item in foodbank_items %}
            {% if not item.active %}
                <li>{{ item.name }} from {{ item.donor.name }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="#">View All</a>
    <h3>Request an item</h3>
    <form action="{% url 'donate:add_item' %}" method="POST">
        {% csrf_token %}
        <p>Name: <input type="text" name="name"></p>
        <p>Description: <input type="text" name="description"></p>
        <input type="submit" value="Request">
    </form>
</body>
</html>
