<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food++ | {{ foodbank.name }}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'donate/main.css' %}">
    <link rel="stylesheet" href="{% static 'donate/show_foodbank.css' %}">
</head>
<body>
    <header>
        <h1>food++ | {{ foodbank.name }}</h1>
        <a href="{% url 'donate:logout' %}"><button class="headerbutton">Logout</button></a>
        <a href="{% url 'donate:index' %}"><button class="headerbutton">Home</button></a>
    </header>
    <div id="container">
    <table>
        <h3>{{ foodbank.name }} needs these items:</h3>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for item in requested_items %}
            {% if not item.donor %} <!-- Items without a donor FK (not fulfilled) -->
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td><a href="{% url 'donate:fulfill' item.id item.foodbank.id %}">Fulfill</a></td>
                </tr>
            {% endif %}
            {% if not item %}
                <p>No requested items</p>
            {% endif %}
        {% endfor %}
    </table>
    {% if messages %}
        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
    {% endif %}
    <iframe src="//www.google.com/maps/embed/v1/place?q={{ foodbank.name }},
        &zoom=17
        &key=AIzaSyAW3Wox5scACNQuysCaIK8xbH3oWLTKcn8">
    </iframe>
    </div><!-- /#wrapper  -->
</body>
</html>
